---
- name: Set the timezone to {{ post_install.os_timezone }}
  become: true
  shell: "systemsetup -settimezone '{{ post_install.os_timezone }}'"

- name: Set computer name {{ computer_name }}
  become: true
  shell: "scutil --set ComputerName {{ post_install.computer_name }}"

- name: Set computer name {{ computer_name }}
  become: true
  shell: "scutil --set LocalHostName {{ post_install.computer_name }}"

- name: Setup macOS defaults
  become: "{{ item.global | default(false) }}"
  osx_defaults:
    array_add: "{{ item.add | default(false) }}"
    domain: "{{ item.domain }}"
    key: "{{ item.key }}"
    type: "{{ item.type }}"
    value: "{{ item.value }}"
    state: present
  when: item.enable | default(true)
  with_items: "{{ post_install.defaults }}"
  loop_control:
    label: "{{ item.description | default( item.domain + '.' + item.key) }} = {{ item.value }}"

- name: Setup macOS shortcut
  shell: "defaults write com.apple.symbolichotkeys.plist AppleSymbolicHotKeys -dict-add {{ item.key }} '{{ item.dict }}'"
  with_items: "{{ post_install.shortcuts }}"

- name: Disable Terminal - man Page
  shell: defaults write pbs NSServicesStatus -dict-add '{{ item }}' '{{ post_install.man_page.dict }}'
  with_items: "{{ post_install.man_page.key }}"

- name: Install custom screensaver
  shell: "open {{ post_install.screen_installer }}"

- name: "Change desktop background"
  command: sqlite3 ~/Library/Application\ Support/Dock/desktoppicture.db "{{ item }}"
  loop:
    - "DELETE FROM data;"
    - "DELETE FROM displays;"
    - "DELETE FROM pictures;"
    - "DELETE FROM preferences;"
    - "DELETE FROM prefs;"
    - "DELETE FROM spaces;"
    - "INSERT INTO pictures (space_id, display_id) VALUES (null, null);"
    - "INSERT INTO data (value) VALUES ('{{ post_install.background_image }}');" # Picture for standard background
    - "INSERT INTO data (value) VALUES (1);" # Scaling method (Fill Screen (1), Center (3), Stretch to Fill Screen (4), Fit to Screen (5))
    - "INSERT INTO data (value) VALUES (0.07);" # Fill color
    - "INSERT INTO preferences (key, data_id, picture_id) VALUES (1, 1, 1);"
    # Set the `Image path`, to `entry 1` of data table for 1st picture (which in our case means all spaces/displays by default).
    - "INSERT INTO preferences (key, data_id, picture_id) VALUES (2, 2, 1);" # set Scaling method to 'entry 2' of data table
    - "INSERT INTO preferences (key, data_id, picture_id) VALUES (3, 3, 1);" # set fill colour to 'entry 3' of data table
    - "INSERT INTO preferences (key, data_id, picture_id) VALUES (4, 3, 1);" # set fill colour to 'entry 3' of data table
    - "INSERT INTO preferences (key, data_id, picture_id) VALUES (5, 3, 1);" # set fill colour to 'entry 3' of data table
    # - "INSERT INTO preferences (key, data_id, picture_id) VALUES (9, 3, 1);" # Enable automatic changing
    # - "INSERT INTO preferences (key, data_id, picture_id) VALUES (10, 3, 1);" # Directory path to images
    # - "INSERT INTO preferences (key, data_id, picture_id) VALUES (11, 3, 1);" # Image changing interval
    # - "INSERT INTO preferences (key, data_id, picture_id) VALUES (12, 3, 1);" # Random order
    # - "INSERT INTO preferences (key, data_id, picture_id) VALUES (16, 3, 1);" # Current image (used when automatic
    # matrix explained at
    # https://stackoverflow.com/questions/33533304/change-scaling-for-all-desktop-backgrounds-on-mac-via-a-script/42194904 changing is enabled)

- name: Killall Dock
  shell: killall Dock
  ignore_errors: yes

- name: Killall Finder
  shell: killall Finder
  ignore_errors: yes



